---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + (subpath?.[0] || '');
---

<a 
  href={href} 
  class:list={[
    "inline-block no-underline text-gray-600 hover:text-primary-500 transition-colors duration-200",
    className,
    { "font-bold text-primary-500 underline": isActive }
  ]} 
  {...props}
>
	<slot />
</a>
